@media(max-width: 420px) {
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 4.5rem;
        height: 4.5rem;
        font-size: 38px;
        color: #fff;
        background-color: transparent;
        border: none;
    }
}
