.logo {
    background-image: url('../images/logo.jpg');
    border: 3px #fff solid;
    border-radius: 100%;
    width: 13rem;
    height: 13rem;
    background-repeat: no-repeat;
    background-size: contain;
}