@media(max-width: 420px) {
    .slider-container::-webkit-scrollbar {
        display: none;
    }
    
    .slider-container {
        display: flex;
        background-color: #F3F3F3;
        overflow-x: scroll;
        height: 6rem;
        align-items: center;
        margin: 1.5rem 0;
        padding: 0 1rem;
    }
}

@media(max-width: 375px) {
    
}


