@media(max-width: 420px) {
    .slider-container::-webkit-scrollbar {
        display: none;
    }
    
    .slider-container {
        display: flex;
        overflow-x: scroll;
        height: 4rem;
        align-items: center;
        margin-top: 2.5rem;
    }
}

@media(max-width: 375px) {
    
}


