
@media(max-width:420px) {
    .warning-container {
        padding: 0 0.5rem;
        align-items: center;
        justify-content: center;
    }
    
    .warning {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-style: dashed;
        border-width: 2px;
        border-radius: 10px;
        height: 4rem;
        color: #ff4949;
        margin-top: 2.5rem;
    }

    .warning span {
        font-size: 15px;
        font-weight: 600;
        font-family: 'DM Sans', sans-serif;
        width: 100%;
        text-align: center;
    }
}

@media(max-width:380px) {
    .warning {
        margin: 0;
    }
}