@media(max-width: 420px) {
    .container {
        display: flex;
        justify-content: center;
        align-content: flex-start;
        flex-wrap: wrap;
        min-width: 100%;
        min-height: 24rem;
        color: #fff;
    
        background-image: url('../images/background.png');
        background-size: contain;
        background-position: top left;
        background-repeat: no-repeat;
    }
    
    .header-buttons {
        display: flex;
        justify-content: space-between;
        max-height: 6.4rem;
        width: 100%;
        padding: 3% 3%;
    }
    
    .header {
        display: flex;
        justify-content: space-between;
        margin-top: 1.5rem;
        padding: 0 3%;
        width: 100%;
    }
    
    .description {
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
        width: 55%;
        padding-top: 1rem;
    }
    
    .header h1 {
        width: 100%;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 600;
        font-size: 2.56rem;
    }
    
    .header h3, span {
        width: 100%;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 1.4rem;
    }
    
    .status-container {
        display: flex;
        justify-content: center;
        background-color: #FFBC6C;
        padding: 0.5rem;
        border-radius: 0.4rem;
        width: 15rem;
        margin-top: 0.4rem;
    }
    
    .header span {
        text-align: center;
        font-weight: bold;
        font-size: 1.2rem;
    }
}


